* {
        padding: 0px;
        margin: 0px;

}
.top{
	justify-content: center;
}
.flex{
	background-color: #f0d9ba;
	display: flex;
    font-size: 15.5px;
    list-style: none;
	margin-left: 220px;
	width: 1100px;
	height: 30px;
}